.main .icon {
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}


.main:hover .icon {
  transform: translateX(130px);
  width: 1%;
}
.main:focus .icon {
  transform: translateX(130px);
  width: 1%;
}
.main:active .icon {
  transform: translateX(130px);
  width: 1%;
}
.icon{
  background: #000000;
  transition: transform 0.5s ease-in-out;
  width: 18%;
  
    @media screen and (max-width: 468px) {
      width: 1%;
      transform: translateX(130px);
      
    }
  
  
}